

body {
    font-family: Arial, sans-serif;
    background: #a2bfda;
}

.container {
    width: 80%;
    margin: auto;
}

.hero {
    text-align: center;
    background: #1a2639;
    color: #ffffff;
    padding: 30px;
}

.box {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

.speaker {
    width: 350px;        
    height: auto;        
    border-radius: 10px; 
    display: block;
    margin: 10px; 
}


label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background: rgb(89, 95, 101);
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
}

.success {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
